<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
</head>
<body>

<h2 th:text="'채팅방 ID: ' + ${roomId}">채팅방</h2>

<p>채팅방에 입장했습니다.</p>

<div id="messages"></div>
<input id="msg" placeholder="메시지"/>
<button onclick="send()">전송</button>

<script th:inline="javascript">
    const roomId = [[${roomId}]];
    const socket = new WebSocket("ws://localhost:8080/ws/chat?roomId=" + roomId);

    socket.onopen = () => console.log("WS open, roomId=", roomId);
    socket.onmessage = (e) => {
        const p = document.createElement("p");
        p.innerText = e.data;
        document.getElementById("messages").appendChild(p);
    };

    function send() {
        socket.send(document.getElementById("msg").value);
    }
</script>



</body>
</html>
